
.kilocode/
.kiro/
.vscode/
src/analysis/ARCHITECTURE.md
.serena/.gitignore
.serena/project.yml
debug_output.html
**/__pycache__
data/cmd_config.json
data/t2i_templates/astrbot_powershell.html
data/t2i_templates/base.html
.sisyphus/
