{% if topics %}
{% for topic in topics %}
<article class="topic-item">
    <span class="color-third"></span>
    <div class="topic-icon">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M20 2H4c-1.1 0-2 .9-2 2v18l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 14H6l-2 2V4h16v12z"/>
        </svg>
    </div>
    <div class="topic-content">
        <h3 class="topic-title">{{ topic.topic.topic }}</h3>
        <p class="topic-meta">PARTICIPANTS: {{ topic.contributors }}</p>
        <p class="topic-detail">{{ topic.detail }}</p>
    </div>
</article>
{% endfor %}
{% endif %}
